body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.hero-section {
  background: linear-gradient(290.51deg, #033EFF -1.9%, #33B5FF 86.05%);
}

.mx-width-1860 {
  max-width: 1860px !important;
}

.mx-width-1560 {
  max-width: 1560px !important;
}

.text-blue {
  color: #033EFF;
}

.bg-f5 {
  background: #f5f5f5;
}

.text-light-blue {
  color: #33B5FF;
}

.empty-header {
  height: 30px;
  background: #FFFFFF;
  opacity: 0.3;
}

.header-logo {
  width: calc(100px + 6vw);
}

.header-toggler {
  width: 25px;
}

.vertical-line {
  background: #fff;
}

.separator {
  width: 100%;
  height: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.text-white-75 {
  color: #e7e7e7;
}

.hero-social-btns .fa {
  font-size: 1.6rem;
  color: #033EFF;
  transition: 0.3s all;
}
.hero-social-btns .fa:hover {
  color: #fff;
}
.hero-social-btns .vertical-line,
.hero-social-btns a {
  margin-bottom: 30px;
}

.title {
  font-size: calc(1rem + 0.15vw);
}

.title-name {
  font-size: calc(1rem + 3vw);
}

.hero-section {
  position: relative;
}
.hero-section .btn {
  width: 275px;
  font-size: calc(1rem + 0.15vw);
  border-radius: 0;
  border: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  position: relative;
}
.hero-section .btn .horizontal-line {
  width: 40%;
  height: 7px;
  background: black;
  position: absolute;
  top: 0;
  left: 10%;
}
.hero-section .vertical-line {
  width: 18%;
  height: 1.5px;
}
.hero-section .btn-white {
  background: #fff;
  color: #33B5FF;
  transition: 0.1s all;
}
.hero-section .btn-white .horizontal-line {
  background: #33B5FF;
}
.hero-section .btn-white:hover {
  outline: 3px solid #033EFF;
}
.hero-section .btn-blue {
  color: #fff;
  background: #033EFF;
  transition: 0.1s all;
}
.hero-section .btn-blue .horizontal-line {
  background: #fff;
}
.hero-section .btn-blue:hover {
  outline: 3px solid #fff;
}
.hero-section .smart-link-container {
  position: absolute;
  bottom: 0;
}
.hero-section .smart-link-container a {
  color: white;
  text-decoration: none;
  transition: 0.3s all;
}
.hero-section .smart-link-container a:hover {
  text-decoration: underline;
}

.right-arrow {
  width: 50px;
}

.hero-img {
  max-width: 500px;
}

.section-logo img {
  min-width: 75px;
}
.section-logo .horizontal-line {
  height: 4px;
  width: 50px;
  background: #33B5FF;
  margin-left: 10px;
  margin-right: 10px;
}

.section-title {
  margin-top: 0.5rem;
}

.truck-section .markt-truck {
  min-height: 200px;
}
.truck-section .truck-title {
  font-size: calc(1rem + 1.2vw);
}
.truck-section .truck-text {
  font-size: calc(1rem + 0.3vw);
}

.supported-section .icon-white {
  display: none;
}
.supported-section .card-text {
  color: rgba(0, 0, 0, 0.6);
  font-size: calc(0.6rem + 0.3vw);
}
.supported-section .card {
  max-width: 350px;
  background: #f5f5f5;
}
.supported-section .card:hover {
  background: linear-gradient(317.14deg, #033EFF -3.61%, #33B5FF 87.04%);
}
.supported-section .card:hover .card-title,
.supported-section .card:hover .card-text {
  color: #fff;
}
.supported-section .card:hover .icon {
  display: none;
}
.supported-section .card:hover .icon-white {
  display: block;
}
.supported-section .card-img {
  width: 146px;
  height: 90px;
}

.card-bg-blue {
  background: linear-gradient(317.14deg, #033EFF -3.61%, #33B5FF 87.04%);
}

.border-top-blue {
  border-top: 2px solid #33B5FF;
}

.border-bottom-blue {
  border-bottom: 2px solid #33B5FF;
}

.bullet-points {
  list-style-image: url("./../img/bullet.svg");
  padding-left: 0rem;
  margin-top: 2rem;
  font-size: calc(1rem + 0.3vw);
}

.token-section .section-content {
  background: linear-gradient(269.82deg, #033EFF 0.14%, #33B5FF 99.84%);
  border-top: 10px solid #033EFF;
  font-size: calc(1rem + 0.3vw);
}
.token-section .right-arrow {
  width: 100px;
}
.token-section .pie-img {
  width: 700px;
}
.token-section .table-id {
  width: 50px;
}
.token-section .table-text {
  width: 300px;
}
.token-section .table-amount {
  margin-left: 5%;
  font-weight: bold;
}

.horizontal-line-inside {
  height: 4px;
  width: 35%;
  background: #33B5FF;
}

.tax-section {
  padding-block: 5rem;
  padding-inline: 1.5rem;
}
.tax-section .bullet-points {
  padding-left: 0;
}
.tax-section > div {
  margin-top: 5rem;
}
.tax-section .tax-title {
  font-size: calc(1rem + 2.3vw);
}
.tax-section .tax-title,
.tax-section .content-body {
  z-index: 99;
  position: relative;
}
.tax-section .poly {
  position: absolute;
  z-index: 0;
}
.tax-section .ellipse {
  width: 40px;
  top: -40px;
  left: 0;
}
.tax-section .poly-1 {
  width: 100px;
  bottom: 0;
  right: 30%;
}
.tax-section .poly-2 {
  width: 125px;
  top: -120px;
  right: -10px;
}

.section-vertical-line {
  width: 8px;
  height: 60%;
  padding-inline: 0;
  background: #33B5FF;
  position: absolute;
}
.section-vertical-line.left-align {
  left: 0;
}
.section-vertical-line.right-align {
  right: 0;
}

.road-section {
  padding-block: 5rem;
  padding-inline: 1.5rem;
}
.road-section .section-vertical-line {
  height: 85%;
}
.road-section .horizontal-line-inside {
  width: 12%;
}
.road-section .road-title {
  font-size: calc(1rem + 2.3vw);
}
.road-section .circle-card {
  background: linear-gradient(318.47deg, #033EFF -3.69%, #33B5FF 87.09%);
  width: 250px;
  height: 250px;
  border-radius: 125px;
  padding-inline: 0;
  overflow: hidden;
}
.road-section .circle-text {
  font-size: calc(1rem + 0.3vw);
  text-align: center;
}
.road-section .circle-title {
  font-style: italic;
  font-weight: bold;
  padding-block: 2rem;
  text-align: center;
  font-size: calc(1rem + 0.4vw);
  background-color: #033EFF;
}

.staking-section .title-text {
  font-size: calc(1rem + 2.3vw);
}
.staking-section .sub-title-text {
  font-size: calc(0.8rem + 0.2vw);
  text-shadow: 2px 2px rgba(0, 0, 0, 0.514);
}
.staking-section .sub-title-text {
  width: 80%;
}
.staking-section .row {
  margin-top: calc(3rem + 0.5vw);
}
.staking-section .bg-col {
  background-image: url("./../img/staking-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 540px;
}

.left-50 {
  left: 50%;
}

.swap-section .card {
  background: #F5F5F5;
  width: 300px;
  height: 230px;
  max-width: 100%;
}
.swap-section .card:hover {
  background: linear-gradient(316.1deg, #033EFF -3.55%, #33B5FF 87.01%);
  color: #fff;
}
.swap-section .card-img {
  width: 80px;
  height: 80px;
}
.swap-section .btn-more {
  background: linear-gradient(290.51deg, #033EFF -1.9%, #33B5FF 86.05%);
  border: 0;
  border-radius: 0;
  width: 100px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.audit-section img {
  width: 350px;
  height: 280px;
}
.audit-section .audit-text p {
  color: #888;
}
.audit-section .input-group .form-control {
  background: #F5F5F5;
  border-radius: 0;
  padding: 15px;
  border: none;
}
.audit-section .input-group .btn {
  border: none;
  padding-inline: 20px;
  border-radius: 0;
  background: linear-gradient(279.81deg, #033EFF -1.03%, #33B5FF 85.55%);
}

footer {
  background: linear-gradient(290.51deg, #033EFF -1.9%, #33B5FF 86.05%);
}
footer .form-control {
  border: 4px solid #fff;
  border-radius: 0;
  padding: 15px;
  background: white;
}
footer .btn-primary {
  width: 85px;
  background: #33b5ff;
  border: 4px solid #fff;
  border-radius: 0;
}
footer .horizontal-line-white {
  position: absolute;
  width: 40px;
  height: 4px;
  bottom: -10px;
  left: 0;
  background: rgba(255, 255, 255, 0.753);
}
footer .footer-right-row {
  border-bottom: 2px solid #888;
}
footer .social-icon {
  max-width: 60px;
  margin-right: 20px;
  border: 4px solid #fff;
  padding-block: 10px;
  border-radius: 15px;
  text-decoration: none;
}

.footer-logo {
  width: 150px;
}

@media (min-width: 768px) {
  .hero-section .vertical-line {
    width: 3px;
    height: 35px;
  }
  .hero-section .smart-link-container {
    bottom: 5%;
  }

  .road-section,
.tax-section {
    padding-inline: 2.5rem;
  }

  .tut-body {
    border-top: 0 !important;
    border-left: 1.5px solid #b4b4b4;
  }
}
@media (min-width: 992px) {
  .truck-section .markt-truck {
    height: 600px;
  }

  .staking-section .sub-title-text {
    width: 75%;
  }

  .tax-section .bullet-points {
    padding-left: 1.5rem;
  }

  .bg-col {
    background-size: contain !important;
  }
}
@media (min-width: 1200px) {
  .road-section,
.tax-section {
    padding-inline: 5rem;
  }

  .partnership-section .sub-title-text {
    width: 70%;
  }

  .table-amount {
    margin-left: 15%;
  }
}
@media (min-width: 1500px) {
  .staking-section .sub-title-text {
    width: 60%;
  }
}